<div class="left-profile box-styling sticky-custom">
  <div class="left-photo">
  </div>
  <div class="left-details">
    <h4>Skellooow</h4>
    <div class="left-stats stats-text">
      <p>Shouts!</p>
      <p>reShouts!</p>
    </div>
    <div class="left-stats stats-numbers">
      <p>42</p>
      <p>1560</p>
    </div>
  </div>
  <button class="btn sexify-button">Beautify Shoutr!</button>
</div>
