<div class="right-table box-styling">
  <table class="table table-hover">
  <h4 class="table-title">Loudest Shoutrs!</h4>
    <caption>List of top Shoutrs!</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">This is..</th>
        <th scope="col">Shouts!</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Yeezy</td>
        <td>100M</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Trumpus</td>
        <td>82M</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Stromae</td>
        <td>75M</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ford Prefect</td>
        <td>42M</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Gilets Jaunes</td>
        <td>38M</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>China</td>
        <td>37M</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Notre Dame</td>
        <td>28M</td>
      </tr>
    </tbody>
  </table>
</div>
